
.logo{
    font-size: medium;
}
.nombl {
    font-size: 90px;
}

.fondoo {
    border-color: aqua;
}


.Grande{
    font-size: 30px;
}
.letras1{
    color:black;
    font-size: 20px;
}
